<h3>患者ID：<%= @record.user.display_id %></h3>

<div id="center">
  <!-- 本来は事前カルテでチェックされた症状のところにチェックが付いたものを表示（expect_picture） -->
  <%= image_tag('painmap.gif') %>
</div>

<div class="btn btn-default">
  <%= link_to '施術画面へ移動する', during_treatment_record_path(@record, @user) %>
</div>
